h4 {
    margin: 0;
}

.btn-group {
    display: flex;
}

.btn-group .btn {
    flex: 1;
}

.input-group-text {
    text-transform: capitalize;
}

.typedd {
    background-color: #6c757d;
    border: 1px solid #6c757d;
    color: #fff;
    font-weight: bold;
}

.form-select:focus {
    box-shadow: none;
    border-color: inherit;
}

.form-select {
    background-position: right 0.5rem center;
}

.input-group-sm>.form-select {
    padding-right: 2rem;
}


table {
    margin-top: 20px;
    /* border-collapse: collapse;
    box-shadow: 20px 20px 20px 5px #a7bad3;
    background-color: white;
    text-align: left; */
   
}
/* th {
    background-color: #d0def2;
    padding: 0.75rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
  }

  td {
    padding: 1rem 2rem;
  }
  tr:nth-child(even) {
    background-color: #f3f8fe;
  } */

.table-gray {
    --bs-table-color: #6c757d;
    --bs-table-bg: #6c757d;
    --bs-table-border-color: #fff;
    --bs-table-striped-bg: #6c757d;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #6c757d;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #6c757d;
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: #6c757d;
}

.sortarr {
    font-size: 11px;
}

@media (max-width: 767px) {
    .booking>div[class^="col"]:not(:last-child) {
        margin-bottom: 0.5rem;
    }

    /* .week-view-container {
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }

    mwl-calendar-week-view {
        display: inline-block;
    } */
}